*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}
body{
    background: black;
}
canvas{
    z-index: 0;
}
.btnstart{
    height: 130px;
    width: 395px;
    position: absolute;
    top: 870px;
    left: 900px;
    background-image: url("./img/botton.png");
}
.btn{
    /*display: block ;    */
    background-size:auto;
    z-index: 1;
 }
.alternate {
    -webkit-animation: shake .7s linear alternate infinite;
    animation: shake 1s linear alternate infinite;
    animation-direction: alternate;
}
.btn:hover{
    cursor: url("./coin_PNG36915.png"),pointer;
}
.btngame{
    background-image: url("./img/coint.png");
    display: none;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 900px;
    left: 1600px;
}
.wheel {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    z-index: 100;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes shake {
    100% {
        -webkit-transform: translateX(-30px);
    }
}
@keyframes shake {
    100% {
        transform: translateX(-30px);
    }
}
input{
    display: flex;
    flex-direction: column;
}